<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ query_title }}</title>
    <link rel="stylesheet" href="{{url_for('bp_query.static', filename='results.css')}}">
</head>
<body>
<main>
    <h2>{{ query_title }}</h2>

    {% if bouquets %}
    <table>
        <tr>
            <th>Нумерация</th>
            <th>Имя водителя</th>
            <th>Год</th>
            <th>Месяц</th>
            <th>Отработано часов</th>
        </tr>
        {% for report in bouquets %}
        <tr>
            <td>{{ report[0] }}</td>
            <td>{{ report[1] }}</td>
            <td>{{ report[2] }}</td>
            <td>{{ report[3] }}</td>
            <td>{{ report[4] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <div class="no-results">
        Данные по зарплате не найдены
    </div>
    {% endif %}

    <div class="button-container">
        <a href="/query/input_1_sql">Новый поиск</a>
        <a href="/query/">Меню запросов</a>
        <a href="{{ url_for('main_menu') }}">На главную</a>
    </div>
</main>
</body>
</html>
